body {
  background-image: url("./main_background.jpg") !important;
  background-size: cover !important;
  background-attachment: fixed !important;
}

button.ui.button {
    margin:0 auto;
    display:block;
}

#header-title.header, #header-recipeDetail-name {
  font-size: 2.5em;
}

textarea {
  height: 150px;
}

.normal-text{
  font-size: 1.5em;
}

a.item{
  font-size: 1.3em;
}

#home-page-text{
  font-size: 8em;
  color: rgba(255, 255, 255, 0.7);
}

/* .home-position {
  position: fixed;
  top: 25%;
  left: 35%;

  transform: translate(-50%, -50%);
} */

a.ui.grid{
  color: black;
}

.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
}

#recipe-form{
  margin-left: 12%;
  margin-top: 5%;
  max-width: 1100px;
}

div.ui.segment{
  /* padding-left: 50px;
  padding-top: 20px; */
  background: rgba(255,255,255,.5);
  min-width: 400px;
}

.big.icon {
  float: right;
  color: black;
}
